//
// Main Header
// --------------------------------------------------


#main-header {
    position: fixed;
    width: 100%;
    z-index: $z-index-main-header;
    background: #fff;
    h1 {
        margin-bottom: 0;
        padding: 0px;
        line-height: 1em;
        margin-top: 10px;
        
        a{
            color: #000;
            font-weight: bold;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            span{
                font-weight:100;
                color:#9c9aa0;
            }
        }
        
        img {
            display: inline-block;
            max-height: 50px;
            vertical-align: middle;
            width: 70px;
            margin-left: 10px;
            
        }

        .no-desktop{
            display:inline-block;
        }
        .no-mobile{
            display:none;
        }

        @media (max-width: $screen-tablet) {
            margin:5px 0px;
            .no-desktop{
                display:none;
            }
            .no-mobile{
                display:inline-block;
            }
        }
    }

    @media screen and (min-width: $screen-tablet) {
        border-top: 6px solid $brand-accent;
    }
    @media print {
        position: relative;
        border-top: none;
    }
}

#about-nav{
       #secondary-menu li a {
        font-weight: normal;
        color: #ccc;
        font-size: 20px;
        margin-top: 10px;
    }
}
